body {
	background: #ffffff;
    font-family: "Muli",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    }

img {width: 100%;}

a {
	color: #222222;
}
a:hover {
	color: #4a5e6a; 
	cursor: pointer;
}
a:focus {border: none;}

.btn-default {
	font-weight: 800; 
	text-transform: uppercase; 
	color: #222222;
	background-color: transparent; 
	border: 1px solid #222222; 
	cursor: pointer;
}

.btn-default:hover, .btn-default:focus {
	border: 1px solid #222222;
}
.btn-default:hover {
	color: #ffffff; 
	background-color: #4a5e6a;
}

.btn-link {
	color: #4a5e6a; 
	background-color: transparent;
}

.btn-link:hover, .btn-link:active {
	color: #222222; 
	background-color: transparent;
}

.btn-inline {
	text-transform: uppercase; 
}

.container-fluid-1280 {
	max-width: 1110px;
}
.btn-xs, .btn-group-xs > .btn {
	font-size: 11px;
}



#banner {
	padding-top: 20px;
}
header#banner {
	padding-top: 0; 
	padding-bottom: 0;
}

/*.navbar-header {float: none;}*/
.navbar-header {
	position: absolute; 
	z-index:0; 
	left: 0; 
	right: 0; 
	top: 0;
}
.navbar-brand {
	height: auto;
}

.list-group {
	box-shadow: none;
}
.list-group-item {
	border: none;
	background-color: transparent; 
}

.ifj-list-group {
	padding-top: 20px;
}
.ifj-col-list {
	margin-right: 15px;
}

/* NAVBAR PARA HOME IFJ */

#banner .navbar-toggle {
	position: absolute; 
	top: 30px; 
	right: 30px; 
	margin: 0; 
}
.navbrand {
	padding: 0;
}


.no-padding {
	padding-left: 0; 
	padding-right: 0;
}

.navbar-inverse {background-color: transparent; border-color: transparent;}

.ifj-navbar-top:first-child {margin-top: 20px; margin-bottom: 40px;}
.ifj-navbar-top:first-child .nav .btn {font-size: 13px;}
.ifj-navbar-top, nav.ifj-navbar-top, .navbar-inverse .ifj-navbar-top .navbar-nav > li > a {margin-bottom: 0; color: #222222; font-size: 14px; background-color: transparent;}
.ifj-navbar-top li a:hover, nav.ifj-navbar-top li a:hover {color: #4a5e6a; background-color: transparent; border-radius: 0;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #222222;}

.ifj-navbar, nav.ifj-navbar {color: #ffffff; background-color: #222222; border: 0;}
.ifj-navbar-section-gazteak {border-top: 3px solid #e2007f;}
.ifj-navbar-section-elkarteak {border-top: 3px solid #3399ff;}
.ifj-navbar-section-kolektiboak {border-top: 3px solid #ffaa00;}
.ifj-navbar li a:hover, nav.ifj-navbar li a:hover, .ifj-navbar li a.ifj-select, nav.ifj-navbar li a.ifj-select  {color: #222222; background-color: #ffffff; border-radius: 0;}
.ifj-navbar li, nav.ifj-navbar li {padding: 0;}




/* HOME NAVBAR IMAGE */

.ifj-navbar-home .ifj-navbar-top {height: 300px;}
.ifj-navbar-image {position: absolute; z-index:0; top: 0; left: 0; right: 0; height: 365px; overflow: hidden;}


/*.ifj-navbar-home-2 {position: relative; height: 338px;}
.ifj-navbar-home-2 > .navbar-header {position: absolute; z-index:1; top: 0; left: 0; right: 0;}
.ifj-navbar-home-2 > #myNavbar {position: absolute; z-index:1; top: 0; left: 0; right: 0;}
.ifj-navbar-home-2 > #myNavbar > .ifj-navbar-top {height: 230px;}
.ifj-navbar-home-2 > .ifj-navbar-image {position: absolute; z-index:0; top: 0; left: 0; right: 0; height: 338px; overflow: hidden;}
*/




.navbar-nav > li > a {padding: 10px 15px; font-size: 15px; font-weight: 800; color: #ffffff; text-transform: uppercase;}
.ifj-navbar-top .navbar-nav > li > a {padding: 5px 10px; font-size: 1em; font-weight: 800; color: #ffffff;}

.ifj-navbar-top .navbar-nav > li.ifj-menu-lang > a {padding-top: 10px;}
.ifj-navbar-top .navbar-nav > li.ifj-menu-lang > ul {min-width: 20px;}

.navbar-nav > li.dropdown > a {padding-left: 30px; padding-right: 20px; color: #ffffff; text-align: center;}

.navbar-nav > li.dropdown.ifj-nav-jovenes > a,
.navbar-nav > li.dropdown.ifj-nav-jovenes >  ul.dropdown-menu  > li > a,
.navbar-nav > li.dropdown.ifj-nav-jovenes > a:focus,
.navbar-nav > li.dropdown.ifj-nav-jovenes >  ul.dropdown-menu {color: #ffffff; background-color: #e2007f;}
.navbar-nav > li.dropdown.ifj-nav-jovenes >  ul.dropdown-menu  > li > a:hover {background-color: #d2006f; }
.navbar-nav > li.dropdown.ifj-nav-jovenes > a:hover {background-color: #ff4499;}

.navbar-nav > li.dropdown.ifj-nav-asociaciones > a,
.navbar-nav > li.dropdown.ifj-nav-asociaciones >  ul.dropdown-menu  > li > a,
.navbar-nav > li.dropdown.ifj-nav-asociaciones > a:focus,
.navbar-nav > li.dropdown.ifj-nav-asociaciones >  ul.dropdown-menu {color: #ffffff; background-color: #3399ff;}
.navbar-nav > li.dropdown.ifj-nav-asociaciones >  ul.dropdown-menu  > li > a:hover {background-color: #2288ee; }
.navbar-nav > li.dropdown.ifj-nav-asociaciones > a:hover {background-color: #55bbff;}


.navbar-nav > li.dropdown.ifj-nav-colectivos > a,
.navbar-nav > li.dropdown.ifj-nav-colectivos >  ul.dropdown-menu  > li > a,
.navbar-nav > li.dropdown.ifj-nav-colectivos > a:focus,
.navbar-nav > li.dropdown.ifj-nav-colectivos >  ul.dropdown-menu {color: #ffffff; background-color: #ffaa00;}
.navbar-nav > li.dropdown.ifj-nav-colectivos >  ul.dropdown-menu  > li > a:hover {background-color: #ee9900; }
.navbar-nav > li.dropdown.ifj-nav-colectivos > a:hover {background-color: #ffcc33;}


.navbar-nav .dropdown-menu, .ifj-nav-group-general .dropdown-menu {border: none; border-radius: 0;}

.navbar .nav li:hover {color: #4a5e6a;}
.navbar .nav li > a:hover, .navbar .nav li > a:focus {color: #ffffff; background-color: #4a5e6a;}

.navbar-nav > li.dropdown:hover > .dropdown-menu {display: block;}



#main-content .col-md-12 { padding-left: 0; padding-right: 0;}

section.portlet {margin-bottom: 0;}

.ifj-nav-group-general {margin: 0; padding: 0;}
.ifj-nav-group-general a, .ifj-nav-group-general a:hover {padding: 5px 8px; font-weight: 800; border-radius: 0;}
.ifj-nav-group-general a, .ifj-nav-group-general a:hover, .ifj-nav-group-general a:active, .ifj-nav-group-general a:focus {border: none;}
.ifj-nav-group-general a.ifj-nav-jovenes {color: #ffffff; background-color: #e2007f;}
.ifj-nav-group-general a.ifj-nav-asociaciones {color: #ffffff; background-color: #00baf2;}
.ifj-nav-group-general a.ifj-nav-colectivos {color: #ffffff; background-color: #ee9c00;}
.ifj-nav-group-meta {margin-top: 6px;}
.ifj-nav-group-meta a, .ifj-nav-group-meta a:hover {font-weight: 800; border: none;}



.navbar-inverse .ifj-navbar-top .navbar-nav > li > a.ifj-btn-newsletter,
.ifj-btn-newsletter {margin-top: 5px; margin-left: 5px; padding: 0 10px 2px; color: #ffffff; background: #222222;}
.ifj-vertical-center {padding-top: 18px; font-size: 18px; }
.ifj-box.ifj-fucsia .ifj-vertical-center {color: #ffffff;}
.ifj-home-ver-todos {padding-left: 8px; padding-right: 8px; margin-left: 10px;}

.ifj-home-list > div > div {min-height: 100px;}
.ifj-home-list-item p {min-height: 50px;}


hr {border-color: #dddddd;}

.ifj-home-list-img {height: 60px; padding-left: 0; padding-right: 0; overflow: hidden;}
.ifj-home-list-img img {height: 100%;}


.ifj-picrow {margin-top: 30px;}
.ifj-picrow-3 {margin-left: 0; margin-right: 0;}
.ifj-picbox .ifj-pic {z-index: 0; display: block; overflow: hidden;}
.ifj-picbox .ifj-pic img {width: 100%;}
.ifj-picbox:hover .ifj-pic img, .ifj-picfree:hover img {transform: scale(1.2); transition: transform 0.2s ease-in-out;}

.ifj-picbox .ifj-txtbox {z-index: 1; position: absolute; bottom: 0; left: 15px; right: 15px; min-height: 75px; padding: 10px 15px; background-color: rgba(0,0,0,.6);}
.ifj-picbox .ifj-txtbox:hover, .ifj-picbox .ifj-txtbox:hover p, .ifj-picbox .ifj-txtbox:hover h2 {text-decoration: none;}
.ifj-picbox .ifj-txtbox-home {z-index: 2; position: absolute; bottom: 30px; left: 0; right: 0; padding: 10px 15px; background-color: rgba(0,0,0,.6); }
.ifj-picbox .ifj-txtbox h2, .ifj-picbox .ifj-txtbox h3, .ifj-picbox .ifj-txtbox p, .ifj-picbox .ifj-txtbox-home h2, .ifj-picbox .ifj-txtbox-home h2, .ifj-picbox .ifj-txtbox-home p {margin: 0; color: #ffffff;}
.ifj-txtbox .ifj-category a {font-size: 1.2em; line-height: 1; text-transform: uppercase; color: #ffffff;}
.ifj-destacado .ifj-txtbox .ifj-subtitle, .ifj-destacado .ifj-txtbox-home .ifj-subtitle {font-size: 15px; line-height: 15px; color: #ffffff;}
.ifj-subtitle-2 {margin-bottom: 1em; font-size: 2em; line-height: 1; text-transform: uppercase; text-align: center;}
.ifj-subtitle-2.ifj-marca-infogaztea img {max-width: 200px;}
.ifj-txtbox .ifj-subtitle {line-height: 15px; color: #ffffff;}
.ifj-picfree {display: block; height: 140px; vertical-align: middle; overflow: hidden;}
.ifj-picfree img {margin-top: -60px;}


.ifj-box {padding-top: 30px; padding-bottom: 30px;}
.ifj-box-bottom {padding-bottom: 50px;}
.ifj-box-empty {padding: 20px 0 20px;}
.ifj-box-empty.ifj-lightgrey {padding-bottom: 20px;}
.ifj-col:first-child {padding-left: 0; width: 24.2%;}
a.ifj-title, h2.ifj-title {display: inline-block; margin-top: 0; margin-right: 20px; padding: 14px 18px; font-size: 21px; text-transform: uppercase; font-weight: 800;}
a.ifj-title, h2.ifj-title.ifj-title-becas {display: inline-block; margin-top: 0; margin-right: 20px; padding: 18px 18px; font-size: 17px; text-transform: uppercase; font-weight: 800;}
.col-sm-12 a.ifj-title, .col-sm-12 h2.ifj-title {margin-right: 0;}
a.ifj-title:hover {text-decoration: none; opacity: .7}
.ifj-subtitle {margin-bottom: 0; font-size: 15px; line-height: 17px; text-transform: uppercase; font-weight: 800;}
.ifj-home-list .ifj-home-list-text a.ifj-subtitle {margin: 5px 0 0; font-size: 1em; line-height: 5px;}
.ifj-box-title-bar {margin-bottom: 20px;}


.ifj-orange {color: #ffffff; background-color: #E74B07;} 
.ifj-orange .ifj-title, .ifj-orange .btn {color: #ffffff; background: #222222;}
.ifj-orange .ifj-subtitle, .ifj-orange .ifj-subtitle a {color: #222222;}
.ifj-orange .btn {color: #ffffff; background: transparent; border-color: #ffffff;}
.ifj-orange .btn:hover {color: #ffffff; background: #222222; border-color: #222222;}
.ifj-orange a.ifj-arrow {color: #222222;}

.ifj-purple .ifj-title {color: #ffffff; background: #b147ff; border-color: #b147ff;}
.ifj-purple .ifj-subtitle, .ifj-purple .ifj-subtitle a {color: #b147ff; text-transform: uppercase; font-weight: 800;}
/* .ifj-purple .btn {color: #ffffff; background: transparent; border-color: #ffffff;} */
.ifj-purple .btn:hover {background: #b147ff; border-color: #b147ff;}
.ifj-purple a.ifj-arrow {color: #b147ff;}

.ifj-teal .ifj-title {color: #ffffff; background: #16A49F; }
.ifj-teal .ifj-subtitle, .ifj-teal .ifj-subtitle a {font-size: 1em; color: #16A49F; text-transform: uppercase; font-weight: 800;}
.ifj-teal .btn:hover {background: #16A49F; border-color: #16A49F;}

.ifj-teal a.ifj-arrow {color: #16A49F;}


.ifj-grey {margin-top: 0; margin-bottom: 30px; padding: 20px;}
.ifj-grey {font-size: 15px; text-align: center; background-color: #c1c1b1;} 
.ifj-grey .ifj-title {padding: 0; font-size: 28px; line-height: 1; font-weight: 800;}
.ifj-grey .btn {color: #ffffff; background: #222222;}
.ifj-grey .btn:hover {background-color: #4a5e6a; border-color: #16A49F;}

.ifj-box.ifj-white {margin-bottom: 0px; padding: 20px 0 10px;}
.ifj-white {padding: 0; font-size: 1.2em;}

.ifj-lightgrey {background-color: #f0efed;}
.ifj-lightgrey .ifj-subtitle, .ifj-lightgrey .ifj-subtitle a {color: #222222;}
.ifj-lightgrey .ifj-conocenos {text-align: center;}

.ifj-green .ifj-title {color: #ffffff; background: #899D06; }
.ifj-green .ifj-subtitle, .ifj-green .ifj-subtitle a {font-size: 1em; color: #899D06; text-transform: uppercase; font-weight: 800;}
.ifj-green .btn:hover {background: #899D06; border-color: #899D06;}

.ifj-fucsia {background-color: #e2007f;}
.ifj-fucsia .ifj-title, .ifj-fucsia .btn{color: #ffffff; background: #000000; }
.ifj-fucsia .ifj-subtitle {font-size: 1em; color: #e2007f; text-transform: uppercase; font-weight: 800;}
.ifj-fucsia .btn {color: #ffffff; background: transparent; border-color: #ffffff;}
.ifj-fucsia .btn:hover {color: #ffffff; background: #222222; border-color: #222222;}

.ifj-sky {background-color: #12c2f2;}
.ifj-sky .ifj-title {color: #ffffff; background: #000000; }
.ifj-sky .ifj-subtitle {font-size: 1em; color: #12c2f2; text-transform: uppercase; font-weight: 800;}
.ifj-sky .btn {color: #ffffff; background: transparent; border-color: #ffffff;}
.ifj-sky .btn:hover {color: #ffffff; background: #222222; border-color: #222222;}

.ifj-sec-purple .ifj-title {margin-bottom: 20px;}
.ifj-sec-purple .ifj-title, .ifj-sec-purple .ifj-title a {color: #ffffff; background-color: #b147ff;}
.ifj-sec-purple .btn:hover {background-color: #b147ff; border-color: #b147ff;}

.ifj-sec-fucsia .ifj-title {margin-bottom: 20px;}
.ifj-sec-fucsia .ifj-title, .ifj-sec-fucsia .ifj-title a {color: #ffffff; background-color: #e2007f;}
.ifj-sec-fucsia .btn:hover {background: #e2007f; border-color: #e2007f;}


.ifj-sec-orange .ifj-title {margin-bottom: 20px;}
.ifj-sec-orange .ifj-title, .ifj-sec-orange .ifj-title a {color: #ffffff; background-color: #E74B07;}
.ifj-sec-orange .btn:hover {background: #E74B07; border-color: #E74B07;}

.ifj-newsletter {margin-left: 0;}
.ifj-newsletter-2col {margin-top: 30px;}
.ifj-newsletter p {margin-top: 10px; margin-bottom: 20px;}

/* Pgina de seccin: listado */
.portlet-decorate .portlet-content {padding: 0; border: none; background: transparent;}

.breadcrumb {margin-top: 10px; margin-bottom: 0; padding-bottom: 0; font-size: .8em;}

h1.ifj-main-title {margin-top: 0; margin-left: 150px; margin-right: 150px; line-height: 1; text-align: center; vertical-align: top; text-transform: uppercase; font-size: 32px; font-weight: 800;}



.ifj-home-box-title {padding-bottom: 20px;}

.ifj-page-listado-fucsia h1.ifj-main-title,
.ifj-page-detalle-fucsia h1.ifj-main-title,
.ifj-page-detalle-fucsia .ifj-page-detalle-box a,
.ifj-page-detalle-fucsia .ifj-relacionados .ifj-journal-content-article a {color: #e2007f;}

.ifj-page-listado-purple h1.ifj-main-title,
.ifj-page-detalle-purple h1.ifj-main-title,
.ifj-page-detalle-purple .ifj-page-detalle-box a,
.ifj-page-detalle-purple .ifj-relacionados .ifj-journal-content-article a {color: #b147ff;}

.ifj-page-listado-orange h1.ifj-main-title,
.ifj-page-detalle-orange h1.ifj-main-title,
.ifj-page-detalle-orange .ifj-page-detalle-box a,
.ifj-page-detalle-orange .ifj-relacionados .ifj-journal-content-article a {color: #ff6600;}

.ifj-page-listado-teal h1.ifj-main-title,
.ifj-page-detalle-teal h1.ifj-main-title,
.ifj-page-detalle-teal .ifj-page-detalle-box a,
.ifj-page-detalle-teal .ifj-relacionados .ifj-journal-content-article a {color: #00b1ae;}

.ifj-page-listado-green h1.ifj-main-title,
.ifj-page-detalle-green h1.ifj-main-title,
.ifj-page-detalle-green .ifj-page-detalle-box a,
.ifj-page-detalle-green .ifj-relacionados .ifj-journal-content-article a {color: #99aa00;}

.ifj-page-listado-sky h1.ifj-main-title,
.ifj-page-detalle-sky h1.ifj-main-title,
.ifj-page-detalle-sky .ifj-page-detalle-box a,
.ifj-page-detalle-sky .ifj-relacionados .ifj-journal-content-article a {color: #12c2f2;}

.ifj-journal-content-article img {padding-bottom: 20px;}



.ifj-page-listado-fucsia .ifj-info-util {background-color: #f0efed;}
.ifj-page-listado-fucsia .ifj-info-util h3 {color: #e2007f;}
.ifj-page-listado-purple .ifj-info-util {background-color: #f0efed;}
.ifj-page-listado-purple .ifj-info-util h3 {color: #b147ff;}
.ifj-page-listado-orange .ifj-info-util {background-color: #f0efed;}
.ifj-page-listado-orange .ifj-info-util h3 {color: #ff6600;}
.ifj-page-listado-teal .ifj-info-util {background-color: #f0efed;}
.ifj-page-listado-teal .ifj-info-util h3 {color: #00b1ae;}
.ifj-page-listado-green .ifj-info-util {background-color: #f0efed;}
.ifj-page-listado-green .ifj-info-util h3 {color: #99aa00;}
.ifj-page-listado-sky .ifj-info-util {background-color: #f0efed;}
.ifj-page-listado-sky .ifj-info-util h3 {color: #12c2f2;}

.ifj-page-detalle-fucsia .ifj-relacionados,
.ifj-page-detalle-purple .ifj-relacionados,
.ifj-page-detalle-orange .ifj-relacionados,
.ifj-page-detalle-teal .ifj-relacionados,
.ifj-page-detalle-green .ifj-relacionados,
.ifj-page-detalle-sky .ifj-relacionados {background-color: #f0efed;}

.ifj-page-detalle-fucsia .ifj-relacionados a,
.ifj-page-detalle-purple .ifj-relacionados a,
.ifj-page-detalle-orange .ifj-relacionados a,
.ifj-page-detalle-teal .ifj-relacionados a,
.ifj-page-detalle-green .ifj-relacionados a,
.ifj-page-detalle-sky .ifj-relacionados a {color: #222222;}

.ifj-page-detalle-box img {margin-bottom: 20px;}

.ifj-social-icons {margin: 10px 0 20px; text-align: center;}
#footer .ifj-social-icons {text-align: left;}

.ifj-social-icons .btn {padding: 0 5px;}
.ifj-social-icons img {width: 20px;}

.list-group-item .ifj-social-icons {margin: 0;}

.ifj-categories a {color: #4a5e6a;}
.ifj-categories .btn-link:active, .ifj-categories .btn-link.active {color: #222222;}
.ifj-categories hr {margin: 10px 0 50px;}

.ifj-intro {margin-bottom: 2em; font-size: 1.3em; line-height: 1.4em;}
.ifj-conocenos .ifj-intro {text-align: center;}

.ifj-list-item h2.ifj-list-title {margin: 0; font-size: 16px; text-transform: uppercase; font-weight: 800; color: #222222;}
a.ifj-list-item:hover .btn {background-color: #4a5e6a;}

.ifj-page-listado-fucsia .ifj-list-item h2.ifj-list-title {color: #e2007f;}
.ifj-page-listado-fucsia .ifj-list-item:hover .btn-default {color: #ffffff; border-color: #e2007f; background-color: #e2007f;}
.ifj-page-listado-purple .ifj-list-item h2.ifj-list-title {color: #b147ff;}
.ifj-page-listado-purple .ifj-list-item:hover .btn-default {color: #ffffff; border-color: #b147ff; background-color: #b147ff;}
.ifj-page-listado-orange .ifj-list-item h2.ifj-list-title {color: #ff6600;}
.ifj-page-listado-orange .ifj-list-item:hover .btn-default {color: #ffffff; border-color: #ff6600; background-color: #ff6600;}
.ifj-page-listado-teal .ifj-list-item h2.ifj-list-title {color: #00b1ae;}
.ifj-page-listado-teal .ifj-list-item:hover .btn-default {color: #ffffff; border-color: #00b1ae; background-color: #00b1ae;}
.ifj-page-listado-green .ifj-list-item h2.ifj-list-title {color: #99aa00;}
.ifj-page-listado-green .ifj-list-item:hover .btn-default {color: #ffffff; border-color: #99aa00; background-color: #99aa00;}
.ifj-page-listado-sky .ifj-list-item h2.ifj-list-title {color: #12c2f2;}
.ifj-page-listado-sky .ifj-list-item:hover .btn-default {color: #ffffff; border-color: #12c2f2; background-color: #12c2f2;}


.ifj-list-item {margin-bottom: 20px;}

.ifj-list-item .ifj-emisor {font-weight: 800;}
.ifj-list-item .ifj-emisor-ciudad {text-transform: uppercase;}
.ifj-list-item .ifj-fecha-publicado {text-transform: uppercase;}

.ifj-list-text ul li {margin-bottom: 10px;}

.ifj-btn-standalone {padding-left: 0; padding-right: 0;}

.ifj-list-separator hr {margin: 50px 0;}

.ifj-info-util {margin-top: 50px;}
.ifj-info-util h2.ifj-info-util-title {padding: 0 0 40px; text-align: center; text-transform: uppercase; font-weight: 800; }
.ifj-info-util .ifj-journal-content-article h3 {margin: 0; font-weight: 800; text-transform: uppercase;}
.ifj-info-util .ifj-journal-content-article > .row > .col-xs-12 {margin-bottom: 30px;}


.ifj-relacionados {margin-top: 50px; padding: 30px 0;}
.ifj-relacionados h2.ifj-relacionados-title {padding: 0 0 40px; text-align: center; text-transform: uppercase; font-weight: 800; }
.ifj-relacionados .ifj-journal-content-article h3 {margin: 0; font-size: 1.1em; font-weight: 800; text-transform: uppercase; color: #222222;}
.ifj-relacionados .ifj-journal-content-article > .row > .col-xs-12 {margin-bottom: 30px;}

dl {text-transform: uppercase;}
dt {font-weight: 400; font-size: 14px; line-height: 1.1;}
dd {margin-bottom: 8px; font-size: 16px; font-weight: 800; line-height: 1;}

#footer.ifj-footer {margin-bottom: 0; color: #ffffff; background-color: #222222;}
#footer a.list-group-item, #footer li.list-group-item {font-size: .8em; border: none; background-color: transparent;}
#footer .ifj-footer-logo {margin-bottom: 30px; max-width: 132px;}

.lfr-pagination {text-align: center}



@media (max-width: 992px) {
	.ifj-home-list-txt {padding-left: 0;}
	.navbar-nav > li > a, .navbar-inverse .ifj-navbar-top .navbar-nav > li > a {padding: 3px 5px; font-size: .9em;}
	.ifj-navbar-home-2 {position: relative; height: 300px;}
	.ifj-home-list-img { padding-right: 15px; }
	.ifj-picbox .ifj-txtbox-home {bottom: 30px;}
}


@media (max-width: 767px) {
	
	div {margin: 0; padding: 0; text-align: left;}
	body {font-size: 16px;}
	


	section#content {margin-top: 20px;}
	.ifj-categories {text-align: center;}
	.breadcrumb.text-center {text-align: left;}
	
	h1.ifj-main-title {margin-top: 0; margin-left: 0px; margin-right: 0px; line-height: 1; text-align: center; vertical-align: top; text-transform: uppercase; font-size: 32px; font-weight: 800;}
	.ifj-navbar-top:first-child { margin-bottom: 0;}
	.ifj-navbar-top:first-child > .container-fluid-1280 {padding-left: 0; padding-right: 0;}
	.ifj-navbar-top:first-child .btn-group {width: 100%; padding: 0;}
	.ifj-navbar-top:first-child .btn-group .btn-inline {background-color: #ffffff; width: 33%; border-radius: 0;}
	.ifj-navbar .container-fluid-1280 {padding-left: 0; padding-right: 0;}
	
	.ifj-navbar-image {height: 767px;}
	
	
	
	.ifj-picbox .ifj-pic:not(.ifj-pic-show) {display: none;}
	.ifj-picbox .ifj-txtbox, .ifj-picbox .ifj-txtbox-home {position: relative; display: block; bottom: auto; left: auto; right: auto; height: auto; min-height: 0; padding: 0; margin: auto; margin-top: 15px; margin-bottom: 15px; width: 100%; background-color: rgba(0,0,0,0);}
	.ifj-picbox .ifj-txtbox h3, .ifj-picbox .ifj-txtbox p {color: #222222;}
	.ifj-picfree {display: none;}
	.ifj-picrow {margin: 0;}
	.ifj-box-empty {padding: 20px 0 0;}
	.ifj-box-bottom {padding-bottom: 20px;}
	.ifj-home-general .ifj-box-empty.ifj-home-destacados {margin-top: 220px; margin-bottom: 40px; background-color: #ffffff;}
	.ifj-navbar-home #myNavbar.navbar-collapse.collapse.in {margin-bottom: -220px;}	
	
	.ifj-picbox .ifj-txtbox-home p, .ifj-destacado .ifj-txtbox-home .ifj-subtitle {color: #000000;}
	
	/* #main-content {margin-top: 100px;} */
	.ifj-picrow > div, .ifj-box .ifj-picbox {margin-bottom: 0;}
	.ifj-box .ifj-picbox.ifj-destacado {margin-bottom: 0; }
	/*.ifj-box-empty .ifj-picbox.ifj-destacado {padding-left: 30px; padding-right: 30px;}*/
	.ifj-vertical-center { display: none; clear: both; padding-bottom: 30px;}
	h2.ifj-subtitle {margin-top: 0;}
	.ifj-destacado .ifj-txtbox .ifj-subtitle {font-size: 15px;}
	.ifj-txtbox .ifj-category a {font-size: .9em;}
	.ifj-picrow {padding-top: 0;}
	.ifj-box.ifj-fucsia, .ifj-box.ifj-purple, .ifj-box.ifj-green {padding-top: 20px; padding-bottom: 20px;}
	.ifj-home-list {padding-bottom: 20px;}
	.ifj-home-list > div > div {min-height: 0;}
	.ifj-home-list-item p {min-height: 0;}
	.ifj-navbar-top:first-child { margin-top: 100px;}
	.ifj-info-util h2.ifj-info-util-title, .ifj-relacionados h2.ifj-relacionados-title {padding-bottom: 20px; text-align: center; font-size: 28px;}
	
	.navbar-nav > li > a, .navbar-inverse .ifj-navbar-top .navbar-nav > li > a {padding: 10px 0; font-size: 1.2em; text-align: center;}
	.navbar-nav > li.dropdown > ul.dropdown-menu > li > a, .navbar-nav > li.dropdown > a {text-align: center; padding: 10px 0; font-size: 1.2em; }
	.navbar-nav > li.dropdown > ul.dropdown-menu > li > a:hover, .navbar-nav > li.dropdown > a:hover {color: #ffffff !important;}
	.navbar-inverse .ifj-navbar-top .navbar-nav > li.ifj-menu-lang > a:focus,
	.navbar-inverse .ifj-navbar-top .navbar-nav > li.ifj-menu-lang > a:hover {color: #222222; background-color: #efefee;}
	.navbar-inverse .ifj-navbar-top .navbar-nav > li.ifj-menu-lang > .dropdown-menu > ul > a,
	.navbar-inverse .navbar-nav .ifj-menu-lang.open .dropdown-menu > li > a {color: #222222; background-color: #efefee;}
	.navbar-inverse .ifj-navbar-top .navbar-nav > li.ifj-menu-lang > .dropdown-menu > ul > a:hover,
	.navbar-inverse .navbar-nav .ifj-menu-lang.open .dropdown-menu > li > a:hover {color: #222222; background-color: #dededd;}
	.ifj-box {padding-bottom: 0;}
	.ifj-picbox .ifj-txtbox-home {bottom: 0;}
	/*.ifj-orange .col-xs-12 {margin-bottom: 20px;}*/
	.ifj-lightgrey .ifj-sec-orange {margin-top: 30px;}
	.ifj-navbar-home {background: transparent;}
	.ifj-navbar-home .ifj-navbar-top {height: auto;}
	.navbar-nav > li.dropdown:hover > .dropdown-menu {display: none !important;}
	.navbar-nav > li.dropdown.open > .dropdown-menu {display: block !important;}

	.ifj-navbar-home-2 {position: relative; height: auto;}
	.ifj-navbar-home-2 > .navbar-header {position: relative;}
	.ifj-navbar-home-2 > #myNavbar {position: relative;}
	.ifj-navbar-home-2 > #myNavbar > .ifj-navbar-top {height: auto;}
	.ifj-navbar-home-2 > .ifj-navbar-image {display: none;}
	
	
	.ifj-sec-orange h2.ifj-title {margin-top: 25px; margin-bottom: 0;}
	.ifj-sec-fucsia h2.ifj-title {margin-bottom: 0;}
	.ifj-conocenos {margin-top: 30px; margin-bottom: 0; padding-bottom: 20px;}
	.ifj-conocenos .ifj-intro {text-align: left; font-size: 1.1em;}
	
	.ifj-home-ver-todos {clear: left; margin-left: 0; margin-top: 20px; margin-bottom: 10px;}
	.ifj-teal .container-fluid-1280 {padding-left: 0; padding-right: 0;}
	
	.ifj-grey { margin-top: 20px; }
	
	.ifj-list-item {margin-bottom: 0;}

	.ifj-destacado .ifj-txtbox .ifj-subtitle {color: #222222;}

}

/* 5 columnas */


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*****************************/
/* COOKIES */
/*****************************/

#ifj_avisocookies {    
    background-color: #000000;
    padding: 20px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index:1500;
    display:none;
    line-height: 15px;
    left: 0;
}

#ifj_avisocookies p {    
    font-size:12px;
    font-family: "Muli";
    color:#ffffff;
    margin: 10px;
    float:left;
}

#ifj_avisocookies a {    
    color: #e2007f;
}

#ifj_avisocookies a:hover {    
    color:#fff;
    font-weight: bold;
}

#ifj_avisocookies .button-cookies button {
	background-color: #e2007f;
	font-family: "Muli";
	font-size: 14px;
	display: block;
	border: 2px solid #000000;
	padding: 10px 30px;
	bottom: 15px;
	right: 50px;
	color: #ffffff;
	text-transform: uppercase;
	transition: all .2s ease-out;
	overflow: hidden;
	margin:auto;
}

#ifj_avisocookies .button-cookies button:hover {
	background-color: #ffffff;
    color: #e2007f;
    border-color: #ffffff;
}        

@media (max-width: 992px) {

 	#ifj_avisocookies .button-cookies button {
    margin-top:10px;
	}
 }
/*****************************/
/* AJUSTES CLASES DE LIFERAY */
/*****************************/

.portlet-title-text {display: none;}
.search-results {display: none;}
.lfr-pagination-config {display: none;}

.portlet-asset-publisher .header-back-to {display:none;}
.portlet-asset-publisher .header-title {display:none;}
.taglib-page-iterator .lfr-pagination-buttons {float: none;}

.ddl-form-basic-info .ddl-form-name {display:none;}

 /*****************************/
/* BOLETIN */
/*****************************/

.portlet-forms .row .lfr-ddm-form-field-container {margin: 0 150px 0; padding: 10px 0 10px 0;}
.lfr-ddm-form-container .lfr-ddm-form-pagination-controls {padding: 0;}
.portlet-forms .required-warning {margin-left: 133px;}
.taglib-captcha .captcha {width: 25%;}
.portlet-forms .btn {color: #ffffff; background-color: #000000;}
.ifj-intro-boletin {margin-left: 133px; margin-bottom: 30px;}
.lfr-ddm-form-submit {margin-bottom: 20px; margin-right: 133px;}

@media (max-width: 767px) {
	.portlet-forms .row .lfr-ddm-form-field-container {margin: 0 20px 0}
	.liferay-ddm-form-field-text .control-label {font-size: 16px;}
	.input-text-wrapper .control-label {font-size: 16px;}
	.portlet-forms .required-warning {margin-left: 3px; font-size: 16px;}
	.taglib-captcha .captcha {width: 50%;}
	.lfr-ddm-form-submit {margin-bottom: 20px; margin-right: 3px;}
	.ifj-intro-boletin {margin-left: 3px;}
}

 /*****************************/
/* LOGIN */
/*****************************/
.login-container .fieldset {margin: 0 50px 0 50px;}
.login-container .button-holder {margin: 20px 50px;}

 /*****************************/
/* LOGO */
/*****************************/
.logo {width: 156px;}

 /*****************************/
/* LANGUAGE */
/*****************************/
.language-selected {font-weight: bold;}

 /*****************************/
/* MENSAJE DEL IDIOMA         */
/*****************************/
.alert.taglib-portal-message {display: none;}