*{
	font-family: "Muli";
}

.ifj-navbar-top:first-child .nav .btn {
    font-size: 13px;
}
.nav a {
    color: #2b4259;
}
#banner .navbar-collapse{
	padding-right: 0;
}
.navbar{
	padding: 0;
}
.nav.navbar-nav{
	a:hover{
		color: #869cad;
	}
}
.row{
	margin-left: 0;
	margin-right: 0;
}

.navbar-nav > li.dropdown.ifj-nav-jovenes > a, 
.navbar-nav > li.dropdown.ifj-nav-asociaciones > a, 
.navbar-nav > li.dropdown.ifj-nav-colectivos > a {
    padding: 10px 15px;
}
.navbar-nav > li.dropdown.ifj-nav-jovenes > ul.dropdown-menu > li > a,
.navbar-nav > li.dropdown.ifj-nav-asociaciones > ul.dropdown-menu > li > a,
.navbar-nav > li.dropdown.ifj-nav-colectivos > ul.dropdown-menu > li > a{
    padding: 5px 10px;
}


/**MIGAS DE PAN**/
#breadcrumbs{
	margin: 10px;
}
ul.breadcrumb.breadcrumb-horizontal{
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	background: none;

	li a{
		font-family: "Muli-Light";
		font-size: 14px;
		color: #4a5e6a;
	}
	
	li.active{
		font-family: "Muli-Light";
		font-size: 14px;
		color: #c1cbd1;
	}
}

.breadcrumb > li + li::before {
    display: inline-block;
    color: #c1cbd1;
    content: ">";
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bolder;
}

/** /MIGAS DE PAN **/


/** MENU PAGINAS INTERIORES **/
.navbar-inverse .navbar-nav > li > a{
	color: #ffffff;
}

.navbar-inverse .navbar-nav > li .ifj-select{
	color: #000000;
}

.navbar-nav > li.dropdown.ifj-nav-jovenes > ul.dropdown-menu, 
.navbar-nav > li.dropdown.ifj-nav-asociaciones > ul.dropdown-menu,
.navbar-nav > li.dropdown.ifj-nav-colectivos > ul.dropdown-menu
{
	width: 220px;
	margin-top: -1px;
}

/** /MENU PAGINAS INTERIORES **/


/**MENU GAZTEA**/
ul.menu-gaztea{
    display: inline-flex;
    width: 100%;
    justify-content: center;
	flex-direction: row;

	li:first-child{
		margin-right: 10em;
	}
}

/***LISTADOS NO SUBRAYADOS***/
.ifj-list-item:hover {
    text-decoration: none;
}


@media only screen and (min-width: 768px){
	.has-control-menu .affix, .has-control-menu #wrapper {
		margin-top: 55px !important;
	}
}